<nav-menu>
    <menu-logo-item routerLink="/" routerLinkActive="active">
        <span text-to-bits>Klodian Imeri</span>
    </menu-logo-item>
    <nav-menu-item routerLink="technologies" routerLinkActive="active">
        <h1>1</h1>
        Technologies
    </nav-menu-item>
    <nav-menu-item routerLink="work" routerLinkActive="active">
        <h1>2</h1>
        Work
    </nav-menu-item>
    <nav-menu-item routerLink="three" routerLinkActive="active">
        <h1>3</h1>
        Three
    </nav-menu-item>
    <nav-menu-bars-item>
        <nav-menu-bars-open>+</nav-menu-bars-open>
        <nav-menu-bars-close>-</nav-menu-bars-close>
    </nav-menu-bars-item>
</nav-menu>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <logo></logo>
        </div>
    </div>
</div>
<router-outlet></router-outlet>