/* You can add global styles to this file, and also import other style files */
html{
    font-size: 18px;
}
body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 250%;
}